*{
    padding:0;
    margin:0;
    font-family: arial;
    font-size:14px;
}
#menu{
    /* overflow: hidden; */
    height: 40px;
    width:1140px;
    background-color: #FF9600;
    margin:50px auto;
}
#menu > ul > .menu-item{
    position: relative;
    float:left;
    padding: 0 20px;
    border-right: 1px solid #FF6600;
}
.menu-item{
    list-style-type: none;
    height:40px;
    line-height: 40px;
}
.menu-item a {
    color:#333;
    text-decoration: none;
}
.menu-item:hover{
    background-color: #FF6600;
    
}
#menu > ul > .menu-item > ul {
    position: absolute;
    top: 40px;
    left: 0;
    display: none;
    background-color: #FF9600;
    width: 300px;
    box-sizing: border-box;
}
#menu > ul > .menu-item > ul >li{
    padding: 0 20px;
}
#menu > ul > .menu-item:hover > ul {
    display: block;
}
#menu > ul > li >ul >li:nth-child(3) {
    background-color: red;
}